#nav-dropdown {
    position: relative;
}

#nav-dropdown button {
    outline: none;
}

#nav-dropdown button:focus {
    outline: none;
    box-shadow: none;
}

#nav-dropdown .menu-item {
    text-decoration: none;
}
